
@cardRatio: 16/24;

.industry-card-header-colours () {
	&.industry-type-agriculture {
		@selector {
			background: yellow;
		}
	}
}

.card {
	position: relative;
	display: inline-block;
	font-size: 18px;
	width: 24em * @cardRatio;
	height: 24em;
	background: #eee;
	border-radius: 0.5em;
	top: 20%;
	overflow: hidden;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	text-align: left;

	> h1 {
		@fs: 1.25em;

		font-size: @fs;
		padding: 0.5em 0.5em;
		background: yellow;
		margin: 0;
		text-indent: 2em / @fs;
	}

	h2 {
		font-size: 0.875em;
		text-transform: uppercase;
		margin: 0;
		line-height: 2em;
	}
}

.cost {
	display: inline-block;
	width: 2em;
	height: 2em;
	border-radius: 1em;
	box-shadow: 0.125em 0.125em 0.125em rgba(0,0,0,0.5);
	line-height: 2em;
	text-align: center;
	background: gold;
	font-size: 0.75em;
}

.card-cost {
	.cost();
	position: absolute;
	left: 0.25em;
	top: 0.5em;
	font-size: 1em;
}
